<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key><string>en</string>
  <key>CFBundleIdentifier</key><string>ai.kenzi.capacitor.google.navigation</string>

  <!-- allow checking if Google Maps is installed -->
  <key>LSApplicationQueriesSchemes</key>
  <array>
    <string>comgooglemaps</string>
  </array>

  <!-- for the map preview -->
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>We use your location to preview the route before opening navigation.</string>
</dict>
</plist>
